<!DOCTYPE html>

<html>

<head>
    <title>AI System Analyzer</title>

    <style>
        body {
            background: #0f172a;
            color: #fff;
            font-family: Segoe UI;
            margin: 0
        }

        .container {
            max-width: 1200px;
            margin: auto;
            padding: 30px
        }

        h1 {
            text-align: center
        }

        .section {
            background: #020617;
            padding: 20px;
            margin-bottom: 25px;
            border-radius: 10px
        }

        button {
            padding: 8px 14px;
            background: #2563eb;
            border: none;
            color: white;
            border-radius: 6px;
            cursor: pointer
        }

        .card {
            background: #1e293b;
            padding: 15px;
            margin: 12px 0;
            border-radius: 8px
        }

        .badge {
            padding: 3px 8px;
            border-radius: 20px;
            font-size: 12px;
        }

        .active {
            background: #dc2626;
        }

        .resolved {
            background: #059669;
        }

        .chat-toggle {
            position: fixed;
            bottom: 25px;
            right: 25px;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background: #2563eb;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            cursor: pointer
        }

        .chat-window {
            position: fixed;
            bottom: 95px;
            right: 25px;
            width: 350px;
            height: 420px;
            background: #1e293b;
            display: none;
            flex-direction: column;
            border-radius: 10px
        }

        .chat-box {
            flex: 1;
            overflow: auto;
            padding: 10px
        }

        .chat-input {
            display: flex;
            padding: 10px
        }

        .chat-input input {
            flex: 1
        }

        pre {
            white-space: pre-wrap;
            font-family: Consolas, monospace;
            line-height: 1.5;
        }

        .card b {
            color: #60a5fa;
        }
    </style>

</head>

<body>

    <div class="container">
        <h1>Unified AI Analyzer</h1>

        <!-- LOG UPLOAD -->

        <div class="section">
            <h3>Upload Logs (.txt)</h3>
            <input type="file" id="logs" multiple onchange="loadSources()">
            <br><br>

            <label>Select Source:</label>

            <select id="sourceSelect" multiple style="width:300px;height:120px"></select>

            <br><br>
            <button onclick="analyzeLogs()">Analyze Logs</button>
            <button onclick="cancelAnalysis('logs')">Cancel</button>
            <div id="logResults"></div>
        </div>

        <!-- LOG FILE (.log) UPLOAD -->
        <div class="section">
            <h3>Upload Logs (.log)</h3>
            <input type="file" id="dotLogs" multiple>
            <button onclick="analyzeDotLogs()">Analyze .log</button>
            <button onclick="cancelAnalysis('dotlogs')">Cancel</button>
            <div id="dotLogResults"></div>
        </div>

        <!-- ETL UPLOAD -->

        <div class="section">
            <h3>Upload ETL Files (.etl)</h3>
            <input type="file" id="etlFiles" multiple>
            <button onclick="analyzeETL()">Analyze ETL</button>
            <button onclick="cancelAnalysis('etl')">Cancel</button>
            <div id="etlResults"></div>
        </div>

        <!-- DUMP UPLOAD -->

        <div class="section">
            <h3>Upload Dumps (.dmp)</h3>
            <input type="file" id="dumps" multiple>
            <input type="file" id="pdbs" multiple>
            <button onclick="analyzeDumps()">Analyze Dumps</button>
            <button onclick="cancelAnalysis('dumps')">Cancel</button>
            <div id="dumpResults"></div>
        </div>

    </div>

    <!-- CHAT -->

    <div class="chat-toggle" onclick="toggleChat()">🤖</div>

    <div class="chat-window" id="chatWindow">
        <div class="chat-box" id="chatBox"></div>
        <div class="chat-input">
            <input id="chatInput">
            <button onclick="sendChat()">Send</button>
        </div>
    </div>
    <div class="section">
        <h3>Final Correlation</h3>
        <button onclick="runFinalCorrelation()">Get Final Root Cause</button>
        <div id="finalResult"></div>
    </div>

    <script>
        function analyzeDotLogs() {
            let files = document.getElementById("dotLogs").files;
            if (files.length === 0) { alert("Select .log file"); return; }

            let fd = new FormData();
            for (let f of files) fd.append("logfile", f);

            document.getElementById("dotLogResults").innerHTML = "Analyzing .log...";

            fetch("/analyze_dotlogs", { method: "POST", body: fd })
                .then(r => r.json())
                .then(showDotLogs);
        }

        function showDotLogs(data) {
            let html = "";
            data.files.forEach(file => {
                html += `<div class="card">
<h3>📘 ${file.file}</h3>
Total Errors: ${file.total_errors}
</div>`;

                file.analysis.forEach(card => {
                    html += `
<div class="card">
<b>Type:</b> ${card.type}<br>
<b>Count:</b> ${card.count}<br>
<b>Status:</b>
<span class="badge ${card.status == "Active" ? "active" : "resolved"}">${card.status}</span>
<br><br>
 
<b>Sample:</b><br>${card.error_line}<br><br>
<b>Cause:</b> ${card.cause}<br>
<b>Fix:</b> ${card.fix}<br><br>
 
<button onclick='askAI(${JSON.stringify(card.error_line)})'>Ask AI</button>
</div>`;
                });
            });
            document.getElementById("dotLogResults").innerHTML = html;
        }

        //////////////////////// LOG ANALYSIS ////////////////////////
        function analyzeLogs() {

            let files = document.getElementById("logs").files;

            if (files.length === 0) {
                alert("Select log file");
                return;
            }

            let selected = [...document.getElementById("sourceSelect").selectedOptions]
                .map(o => o.value);

            let fd = new FormData();

            for (let f of files)
                fd.append("logfile", f);

            selected.forEach(s => {
                fd.append("sources", s);
            });

            document.getElementById("logResults").innerHTML = "Analyzing selected sources...";

            fetch("/analyze_logs", {
                method: "POST",
                body: fd
            })
                .then(r => r.json())
                .then(showLogs);
        }

        function showLogs(data) {
            let html = "";
            data.files.forEach(file => {
                html += `<div class="card">
<h3>📄 ${file.file}</h3>
Total Errors: ${file.total_errors}
</div>`;

                file.analysis.forEach(card => {
                    html += `
<div class="card">
<b>Type:</b> ${card.type}<br>
<b>Count:</b> ${card.count}<br>
<b>Status:</b>
<span class="badge ${card.status == "Active" ? "active" : "resolved"}">${card.status}</span>
<br><br>
 
<b>Sample:</b><br>${card.error_line}<br><br>
<b>Cause:</b> ${card.cause}<br>
<b>Fix:</b> ${card.fix}<br><br>
 
<button onclick='askAI(${JSON.stringify(card.error_line)})'>Ask AI</button>
</div>
`;
                });
            });
            document.getElementById("logResults").innerHTML = html;
        }
        function viewLog(file, line_numbers) {

            fetch("/get_log_lines", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    file: file,
                    line_numbers: line_numbers
                })
            })
                .then(res => res.json())
                .then(data => {

                    let output = "<h3>Log Lines</h3>";

                    data.lines.forEach(l => {
                        output += `<div style="background:#1e293b; padding:5px; margin:5px;">
                <b>Line ${l.line_number}</b>: ${l.content}
            </div>`;
                    });

                    document.getElementById("logViewer").innerHTML = output;
                });
        }
        //////////////////////// ETL ANALYSIS ////////////////////////
        function analyzeETL() {
            let files = document.getElementById("etlFiles").files;
            if (files.length === 0) { alert("Select ETL file"); return; }

            let fd = new FormData();
            for (let f of files) fd.append("etlfile", f);

            document.getElementById("etlResults").innerHTML = "Converting & analyzing ETL...";

            fetch("/analyze_etl", { method: "POST", body: fd })
                .then(r => r.json())
                .then(showETL);
        }

        function showETL(data) {

            let html = "";

            data.files.forEach(file => {

                html += `<div class="card">
<h3>🧩 ${file.file}</h3>
Total Errors: ${file.total_errors}
</div>`;

                file.analysis.forEach(card => {

                    html += `
<div class="card">

<b>Type:</b> ${card.type}<br>
<b>Count:</b> ${card.count}<br>
<b>Status:</b>
<span class="badge active">${card.status}</span>

<br><br>

<b>Subsystem:</b><br>
${card.subsystem}<br><br>

<b>Observation:</b><br>
${card.observation}<br><br>

<b>Analysis:</b><br>
<pre>${card.analysis}</pre><br>

<b>Recommended Action:</b><br>
${card.recommended_action}<br><br>

<button onclick='askAI(${JSON.stringify(card.analysis || card.observation)})'>Ask AI</button>
<div id="logViewer"></div>
</div>
`;

                });

            });

            document.getElementById("etlResults").innerHTML = html;
        }

        //////////////////////// DUMP ANALYSIS ////////////////////////
        function analyzeDumps() {
            let dumpFiles = document.getElementById("dumps").files;
            let pdbFiles = document.getElementById("pdbs").files;

            if (dumpFiles.length === 0) {
                alert("Select dump file");
                return;
            }

            let fd = new FormData();
            for (let f of dumpFiles) fd.append("dumpfile", f);
            for (let p of pdbFiles) fd.append("pdbfile", p);

            document.getElementById("dumpResults").innerHTML = "Analyzing dump...";

            fetch("/analyze_dumps", { method: "POST", body: fd })
                .then(r => r.json())
                .then(showDumps);
        }

        function showDumps(data) {
            let html = "";

            data.files.forEach(file => {

                file.analysis.forEach(card => {

                    html += `
            <div class="card">
                <h3>🧠 ${file.file}</h3>

                <b>Type:</b> ${card.type}<br>

                <b>Cause:</b><br>
                <pre style="white-space:pre-wrap">${card.cause}</pre>

                <b>Fix:</b><br>
                <pre style="white-space:pre-wrap">${card.fix}</pre>
            </div>
            `;

                });

            });

            document.getElementById("dumpResults").innerHTML = html;
        }

        //////////////////////// ASK AI ////////////////////////
        function askAI(text) {
            if (document.getElementById("chatWindow").style.display !== "flex") {
                toggleChat();
            }
            addMsg("You: Explain this error → " + text);

            fetch("/ask_ai", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ error: text })
            })
                .then(r => r.json())
                .then(d => {
                    addMsg("AI: " + (d.answer || "No response"));
                });
        }

        //////////////////////// CHAT ////////////////////////
        function toggleChat() {
            let w = document.getElementById("chatWindow");
            w.style.display = w.style.display == "flex" ? "none" : "flex";
        }

        function sendChat() {
            let q = document.getElementById("chatInput").value;
            if (!q) return;

            addMsg("You: " + q);
            document.getElementById("chatInput").value = "";

            fetch("/chat", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ message: q })
            })
                .then(r => r.json())
                .then(d => {
                    addMsg("AI: " + d.reply);
                });
        }

        function addMsg(t) {
            let box = document.getElementById("chatBox");
            box.innerHTML += `<div>${t}</div><br>`;
            box.scrollTop = box.scrollHeight;
        }
        function loadSources() {

            let file = document.getElementById("logs").files[0];

            if (!file) return;

            let fd = new FormData();
            fd.append("logfile", file);

            fetch("/get_event_sources", {
                method: "POST",
                body: fd
            })
                .then(r => r.json())
                .then(data => {

                    let select = document.getElementById("sourceSelect");
                    select.innerHTML = "";

                    data.sources.forEach(s => {
                        select.innerHTML += `<option value="${s}">${s}</option>`;
                    });

                });
        }

        function runFinalCorrelation() {

            document.getElementById("finalResult").innerHTML = "Correlating...";

            fetch("/final_correlation")
                .then(r => r.json())
                .then(data => {

                    if (!data.global_summary) {
                        document.getElementById("finalResult").innerHTML =
                            "No correlation result.";
                        return;
                    }

                    let html = `
                <div class="card">
                    <h2>🔎 Final Root Cause</h2>
                    <b>Root Cause:</b> ${data.global_summary.root_cause}<br><br>
                    <b>Fix:</b> ${data.global_summary.fix}<br><br>
                    <b>Confidence:</b> ${data.global_summary.confidence}
                </div>
            `;

                    document.getElementById("finalResult").innerHTML = html;
                });
        }
        window.onload = function () {

            fetch("/load_session")
                .then(r => r.json())
                .then(data => {

                    if (!data || !data.files) return;

                    let all = data.files;

                    if (all.length === 0) return;

                    // split by type
                    let logFiles = [];
                    let dotlogFiles = [];
                    let etlFiles = [];
                    let dumpFiles = [];

                    all.forEach(f => {

                        if (!f.analysis) return;

                        // dump
                        if (f.analysis[0]?.type === "Crash Dump") {
                            dumpFiles.push(f);
                            return;
                        }

                        // etl
                        if (f.analysis[0]?.type === "ETW Trace Analysis") {
                            etlFiles.push(f);
                            return;
                        }

                        // dotlog heuristic
                        if (f.file && f.file.endsWith(".log")) {
                            dotlogFiles.push(f);
                            return;
                        }

                        // normal logs
                        logFiles.push(f);
                    });

                    if (logFiles.length) showLogs({ files: logFiles });
                    if (dotlogFiles.length) showDotLogs({ files: dotlogFiles });
                    if (etlFiles.length) showETL({ files: etlFiles });
                    if (dumpFiles.length) showDumps({ files: dumpFiles });

                })
                .catch(err => console.log("Session load failed", err));
        };
        function cancelAnalysis(section) {

            fetch("/cancel_analysis")
                .then(r => r.json())
                .then(() => {

                    fetch("/load_session")
                        .then(r => r.json())
                        .then(data => {

                            let all = data.files || [];

                            let logFiles = [];
                            let dotlogFiles = [];
                            let etlFiles = [];
                            let dumpFiles = [];

                            all.forEach(f => {

                                if (!f.analysis) return;

                                if (f.analysis[0]?.type === "Crash Dump") {
                                    dumpFiles.push(f);
                                    return;
                                }

                                if (f.analysis[0]?.type === "ETW Trace Analysis") {
                                    etlFiles.push(f);
                                    return;
                                }

                                if (f.file && f.file.endsWith(".log")) {
                                    dotlogFiles.push(f);
                                    return;
                                }

                                logFiles.push(f);
                            });

                            // restore ONLY cancelled section
                            if (section === "logs") showLogs({ files: logFiles });
                            if (section === "dotlogs") showDotLogs({ files: dotlogFiles });
                            if (section === "etl") showETL({ files: etlFiles });
                            if (section === "dumps") showDumps({ files: dumpFiles });

                        });

                });
        }
    </script>
</body>

</html>